
@{
	ViewData["Title"] = "Edit";
	Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";

	var genreList = ViewBag.Genres as IEnumerable<Genre>;
}
@model EditGameViewModel

<div>
	<h2 class="col-form-label">Edit Game</h2>
	<form asp-area="Admin" asp-controller="Game" asp-action="Edit" asp-route-id="@Model.Id" method="post" enctype="multipart/form-data">
		<div class="mb-3">
			<label class="form-label">Game Name</label>
			<input class="form-control" asp-for="@Model.Name" placeholder="Name" />
			<span class="text-danger" asp-validation-for="@Model.Name"></span>
		</div>
		<div class="mb-3">
			<label class="form-label fw-bold">Game Image</label>
			<div class="mb-2">
				<img src="~/images/@Model.ImageURL"
					 class="card-img-top img-thumbnail"
					 alt="@Model.Name Cover Image"
					 style="max-width: 150px; max-height: 150px; object-fit: cover;">
			</div>
			<input class="form-control" type="file" asp-for="@Model.ImageFile" />
			<span class="text-danger" asp-validation-for="@Model.ImageFile"></span>
		</div>
		<div class="mb-3">
			<label class="form-label">Game Description</label>
			<textarea class="form-control" asp-for="@Model.Description" placeholder="Description">

			</textarea>
			<span class="text-danger" asp-validation-for="@Model.Description"></span>
		</div>
		<div class="mb-3">
			<label class="form-label">Release</label>
			<input class="form-control" type="date" asp-for="@Model.Released" placeholder="Release" />
			<span class="text-danger" asp-validation-for="@Model.Released"></span>
		</div>

		<div class="form-group">
			<label>Genres:</label>
			<div class="checkbox-group">
				@foreach (var genre in genreList!)
				{
					<div>
						<label>@genre.Name</label>
						<input type="checkbox" name="SelectedGenreIds" value="@genre.Id" onclick="onCheckboxClick(this)"
						 @(Model.SelectedGenreIds.Contains(genre.Id) ? "checked" : "") />
					</div>

				}
			</div>

		</div>
		<button type="submit" class="btn btn-primary">Save Game!</button>
	</form>
</div>


